<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.company.company.dao.CircleMemberMapper">

    <resultMap id="CircleMember" type="com.coolplay.company.company.model.CircleMemberModel">
        <result property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
        <result property="memberUserId" column="member_user_id"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="reviewReason" column="review_reason"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,circle_id ,member_user_id ,review_status ,review_reason ,c_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="reviewReason != null">
				AND review_reason = #{reviewReason}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="CircleMember">
	    SELECT <include refid="columns"/> FROM d_circle_member 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CircleMember" >
		SELECT <include refid="columns"/>
		FROM d_circle_member WHERE id = #{id}
	</select>

	
</mapper>

